<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= startingContent %></p>
<% posts.forEach(function(post){ %>
    <h1><%= post.title %></h1> 
    <p><%= post.post.substring(0,110)+" ..." %> <a href="/posts/<%= post.title %>">Read more</a>
    </p>
    
<% }) %>

<%- include("partials/footer"); -%>